{% include "head.html" %}
    <header style=    "-webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);    -webkit-font-smoothing: antialiased;    font-size: 14px;   line-height: 1.42857143;   color: #333333;
    font-family: Pretendard,Pretendard JP,Pretendard Std,-apple-system,system-ui,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,Apple SD Gothic Neo,Nanum Gothic,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    box-sizing: border-box;    margin: 0;   padding: 0;
    border: 0;    width: 100%;   background-color: #fff;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);    z-index: 800;   position: fixed;    padding-right: initial; padding-left: 30px; padding-top: 7px; padding-bottom: 7px" >
    <a href="http://127.0.0.1:8000/">
  <div class="container-fluid d-flex justify-content-between align-items-center" style = "padding: 0px;">
          <img src="/static/img/logo3.png" alt="logo" style="width: 80%; height: 80%;">
    </a>
<!--      <h1 style = "font-family: 'KOHIBaeumOTF';color:#474747;line-height: 60px;"><a href="">이직을 원티드?</a></h1>-->
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="/static/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>

<!--          <li><a class="active" href="" style = "font-family: 'Pretendard-Regular';">AI채용추천</a></li>-->
<!--          <li><a href="/mainapp/about" style = "font-family: 'Pretendard-Regular';">채용공고</a></li>-->
<!--          <li><a href="/mainapp/resume" style = "font-family: 'Pretendard-Regular';">내 북마크</a></li>-->
<!--          <li><a class="active" href="" style = "font-family: 'Pretendard-Regular';">AI채용추천</a></li>-->
          <li><a href="/mainapp/resume" style = "-webkit-text-size-adjust: 100%; font-family: KOTRA_GOTHIC;  color: #5e5e5e;    font-size: 13px;    padding: 0px; display: inline-block;">AI채용추천</a></li>
          <li><a href="/mainapp/portfolio" style = "f-webkit-text-size-adjust: 100%; font-family: KOTRA_GOTHIC;  color: #5e5e5e;    font-size: 13px;    padding: 0px; display: inline-block;;">채용공고</a></li>
          <li><a href="/mainapp/services" style = "-webkit-text-size-adjust: 100%; font-family: KOTRA_GOTHIC; color: #5e5e5e;    font-size: 13px;     padding: 0px; display: inline-block;">내 북마크</a></li>
<!--          <li><a href="/mainapp/portfolio" style = "font-family: 'Pretendard-Regular';">Portfolio</a></li>-->
<!--          <li><a href="/mainapp/contact" style = "font-family: 'Pretendard-Regular';">Contact</a></li>-->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->


      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>

  </header><!-- End Header -->