{% include "head.html" %}

<header id="header" class="fixed-top">
    <a href="http://127.0.0.1:8000/">
      <div class="container-fluid d-flex justify-content-between align-items-center">
      <img src="/static/img/logo2.png" alt="logo">
    </a>
<!--      <h1 style = "font-family: 'KOHIBaeumOTF';color:#474747;line-height: 60px;"><a href="">이직을 원티드?</a></h1>-->
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="/static/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>

<!--          <li><a class="active" href="" style = "font-family: 'Pretendard-Regular';">AI채용추천</a></li>-->
<!--          <li><a href="/mainapp/about" style = "font-family: 'Pretendard-Regular';">채용공고</a></li>-->
<!--          <li><a href="/mainapp/resume" style = "font-family: 'Pretendard-Regular';">내 북마크</a></li>-->
<!--          <li><a class="active" href="" style = "font-family: 'Pretendard-Regular';">AI채용추천</a></li>-->
          <li><a href="/mainapp/resume" style = "font-family: 'Pretendard-Regular';">AI채용추천</a></li>
          <li><a href="/mainapp/portfolio" style = "font-family: 'Pretendard-Regular';">채용공고</a></li>
          <li><a href="/mainapp/services" style = "font-family: 'Pretendard-Regular';">내 북마크</a></li>
<!--          <li><a href="/mainapp/portfolio" style = "font-family: 'Pretendard-Regular';">Portfolio</a></li>-->
<!--          <li><a href="/mainapp/contact" style = "font-family: 'Pretendard-Regular';">Contact</a></li>-->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>

  </header><!-- End Header -->