{% include "head.html" %}


        <!-- Start Footer Area -->
    <footer class="footer">
        <!-- Start Footer Top -->

            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">

                    </div>
                    <div class="col-lg-3 col-md-6 col-12">

                    </div>
                </div>
            </div>

        <!--/ End Footer Middle -->
        <!-- Start Footer Bottom -->
        <div class="footer-bottom" style="background:#fff; color: #303030;">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-12">
                            <div class="content">
                                <ul class="footer-bottom-links" style="font-size:14px">
                                    <li><a style="color: #303030; font-family: 'Pretendard-Regular';" href="http://127.0.0.1:8000">서비스소개</a></li>
                                    <li><a style="color: #303030; font-family: 'Pretendard-Regular';" href="http://127.0.0.1:8000/웹 개발자">채용공고</a></li>
                                    <li><a style="color: #303030; font-family: 'Pretendard-Regular';" href="http://127.0.0.1:8000/blog-grid-sidebar.html">Ai추천공고</a></li>
                                    <li><a style="color: #303030; font-family: 'Pretendard-Regular';" href="http://127.0.0.1:8000/index2.html">프로젝트 소개</a></li>
                                     <li><a style="color: #303030; font-family: 'Pretendard-Regular';" href="http://127.0.0.1:8000/index2.html"><i class="lni lni-youtube"></i></a></li>
                                </ul>

                                <br>
                                <p style = "font-family: 'Pretendard-Regular'; font-size: 6px; color: #303030;" class="copyright-text">
(주)이직을 원티드? (포트폴리오) | 고용노동부·아시아경제 실무프로젝트 기반 산업 빅데이터 분석가 양성과정 최종 프로젝트  | 제작기간 : 5주
<br>구축환경 : python 3.8(pycharm) | 모델 : sklearn(TfidfVectorizer)·gensim.models(Word2Vec) | 웹사이트 제작 : DJANGO | 디자인 : 부트스트랩·일러스트레이터·포토샵 활용  © 이직을 Wanted, Inc.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Middle -->
    </footer>
    <!--/ End Footer Area -->