<!DOCTYPE html>
<html class="no-js" lang="en">
{% include "head.html" %}
{% include "header.html" %}
{% load static %}
<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

<!--    &lt;!&ndash; Preloader &ndash;&gt;-->
<!--    <div class="preloader">-->
<!--        <div class="preloader-inner">-->
<!--            <div class="preloader-icon">-->
<!--                <span></span>-->
<!--                <span></span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; /End Preloader &ndash;&gt;-->

    <div class="breadcrumbs" style = "background: #2c5bf0;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 style = "font-family:  'Pretendard-Regular'; color: #ffffff;" class="page-title">Blog Grid Sidebar</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">

                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Blog Singel Area -->
    <section class="section latest-news-area blog-list">
        <div class="container">
            <div class="row">

        <div style="text-align: center;">
          <br>
          <br>
          <h2 style = "font-family: 'HallymGothic-Bold'; color:262626;">북마크만 등록해도 나에게 딱 맞는 회사 추천!</h2><br><br>
          <h6 style = "font-family: 'Pretendard-Regular'; color:#6f6f6f; line-height:1.6em; font-size: 13px;">내 북마크를 분석하여 나와 딱 맞는 회사를 추천해드려요.<br>
          북마크 공고의 주요업무, 복지, 연봉을 기반으로 책정되었습니다.</h6>
          <br>
          <a href="http://127.0.0.1:8000/bookmarked-items.html">
          <h6 style = "font-family: 'Pretendard-Bold'; color:#2c5bf0; line-height:1.6em; font-size: 13px;">더 세밀한 추천을 받아보고 싶다면 내 북마크를 다시 설정해보세요!
          </h6>
          </a>
        </div>

                        </div>
                    </div>

                </div>
                <aside class="col-lg-4 col-md-5 col-12">
                    <div class="sidebar blog-grid-page">


                        <div class="col-lg-6 col-12">

                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
    <!-- End Blog Singel Area -->



    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/tiny-slider.js"></script>
    <script src="/static/js/glightbox.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
{% include "footer.html" %}
</html>