<!DOCTYPE html>
<html class="no-js" lang="en">
{% include "head.html" %}
{% include "header.html" %}

<!--수정-->
<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

<!--    &lt;!&ndash; Preloader &ndash;&gt;-->
<!--    <div class="preloader">-->
<!--        <div class="preloader-inner">-->
<!--            <div class="preloader-icon">-->
<!--                <span></span>-->
<!--                <span></span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; /End Preloader &ndash;&gt;-->


    <!-- Start Breadcrumbs -->
    <<div class="breadcrumbs" style = "background: #2c5bf0;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 style = "font-family:  'Pretendard-Regular'; color: #ffffff;" class="page-title">채용공고</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Category -->
    <section style = "font-family:  'Pretendard-Regular';" class="category-page section">
        <div class="container">
            <div class="row">

                    <div class="category-grid-list">
                        <div class="row">
                            <div class="col-12" style="text-align: center;">
        <div style="text-align: center;">
          <br>
          <br>
          <h2 style = "font-family: 'HallymGothic-Bold'; color:262626;">북마크만 등록해도 나에게 딱 맞는 회사 추천!</h2><br><br>
          <h6 style = "font-family: 'Pretendard-Regular'; color:#6f6f6f; line-height:1.6em; font-size: 13px;">내 북마크를 분석하여 나와 딱 맞는 회사를 추천해드려요.<br>
          북마크 공고의 주요업무, 복지, 연봉을 기반으로 책정되었습니다.</h6>
          <br>
        <h6 style = "font-family: 'Pretendard-Bold'; color:#2c5bf0; line-height:1.6em; font-size: 13px;">내가 좋아한 기업을 기준으로 AI추천을 진행합니다.
          </h6>
          <br>
          <a href="http://127.0.0.1:8000/bookmark_recommendation.html">
          <img src="/static/images/button.png" alt="recommendation" style="width: 70%; height: 70%;">
              <br>
              <div>
                  <br>
                  <br>
                  <br>
              </div>
          </a>

        </div>


                            </div>
                        </div>
                    </div>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-grid" role="tabpanel"
                                        aria-labelledby="nav-grid-tab">
                                        <div class="row">
                                                {% if post_list %}
                                                    {% for data in post_list %}
                                                        <div class="col-lg-4 col-md-6 col-12">
                                                        <div class="single-item-grid">
                                                        <div class="image">
                                                            <a href="item-details/{{ data.pk }}"><img src={{ data.picture_url }} alt="#"></a>
                                                            <span style = "font-family:  'Pretendard-Regular';" class="flat-badge sale">구인 중</span>
                                                        </div>
                                                        <div class="content">
                                                            <a href="javascript:void(0)" class="tag">{{ data.category }}</a>
                                                            <h3 class="title">
                                                                <a href="item-details/{{ data.pk }}">{{ data.title }}</a>
                                                            </h3>
                                                            <p class="location" style = "font-family:  'Pretendard-Regular'; font-size:12px; "><a href="javascript:void(0)"><i class="lni lni-map-marker">
                                                                    </i>{{ data.company}}</a></p>
                                                            <ul class="info">
                                                                <li class="price">{% if data.money %}
                                                                                        {{ data.money }} 만원
                                                                                    {% else %}
                                                                                        연봉정보 없음
                                                                                    {% endif %}</li>
                                                               {% if data.pk in bookmarked_post_id_list %}

                                                                    <li class="like"><a onclick='sendPost (event, {{ data.pk }})' type="button" class="lni lni-heart-filled">
                                                                            </i></a>
                                                                {% else %}
                                                                    <li class="like"><a onclick='sendPost (event, {{ data.pk }})' type="button" class="lni lni-heart">
                                                                                </i></a>
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    {% endfor %}
                                                {% else %}
                                                    <div class="col-12" style="text-align: center;">
                                                        <h6 style = "font-family: 'Pretendard-Bold'; color:#2c5bf0; line-height:1.6em; font-size: 13px;">채용공고 페이지에서 마음에 드는 채용 공고를 추가 하실 수  있습니다. </h6>
{#                                                        <h4 style="font-family: 'Pretendard-Regular';> 작성된 게시글이 없습니다. </h4>#}
                                                    </div>
                                                {% endif %}
                                                <!-- End Single Item -->

                                        </div>
                                        <div class="row">
                                            <div class="col-12">

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-list" role="tabpanel"
                                        aria-labelledby="nav-list-tab">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-12">

                                            </div>

                                            </div>
                                            <div class="col-lg-12 col-md-12 col-12">

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Category -->




    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here is ========================= -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/tiny-slider.js"></script>
    <script src="/static/js/glightbox.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script type="text/javascript">

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function uuidv4() {
          return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
          });
        }

        let device = getCookie('device')

        if (device == null || device == undefined){
            device = uuidv4()
        }

        document.cookie ='device=' + device + ";domain=;path=/"

        function sendPost(e, pk) {
            // 좋아요 버튼이 빈하트이면 on 아니면 off
            const like = e.target.classList.contains('lni-heart')? 'on': 'off';

            // 좋아요 등록, 취소 처리 api 호출
            fetch('/likeSwitch', {
                method: 'post',
                body: JSON.stringify({'pk': pk, 'like': like}),
                headers: {
                  'Content-Type': 'application/json',
                  // 'Content-Type': 'application/x-www-form-urlencoded',
                },
            }).then(res => res.json()).then(json => {
                if(json.code == 'success') {
                    if(like == 'on') {
                        // 좋아요 등록 처리일 경우 빈하트 -> 하트로 변경
                        e.target.classList.remove('lni-heart');
                        e.target.classList.add('lni-heart-filled');
                    } else if(like == 'off') {
                        // 좋아요 취소 처리일 경우 하트 -> 빈하트로 변경
                        e.target.classList.remove('lni-heart-filled');
                        e.target.classList.add('lni-heart');
                    }
                }
            })
        }
    </script>
</body>
{% include "footer.html" %}
</html>