<!DOCTYPE html>
<html class="no-js" lang="en">
{% include "head.html" %}
{% include "header.html" %}
<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

<!--    &lt;!&ndash; Preloader &ndash;&gt;-->
<!--    <div class="preloader">-->
<!--        <div class="preloader-inner">-->
<!--            <div class="preloader-icon">-->
<!--                <span></span>-->
<!--                <span></span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; /End Preloader &ndash;&gt;-->


    <!-- Start Hero Area -->
    <section class="hero-area overlay" style = "background: #dde9f2; padding-top: 200px; padding-bottom: 200px;">

    <!-- Start Why Choose Area -->
    <section class="why-choose section" style = "padding-top: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2 style = "font-family: 'KOHIBaeumOTF'; color: #2b2b2b;  font-size: 40px;" class="wow fadeInUp" data-wow-delay=".4s">기술스텍</h2>
                        <p style = "font-size : 15px; font-family:  'Pretendard-Regular'; color: #636363;" class="wow fadeInUp" data-wow-delay=".6s">
                            『😎 혜택 및 복지를 배경으로 채용 공고를 추천해주는 서비스』 <br>는 이렇게 만들어졌습니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="choose-content">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Single List -->
                                <div class="single-list wow fadeInUp" data-wow-delay=".2s">
                                    <img src="/static/images/selenium.png" style="width: 70px; height: 70px; ">
                                    <h4 style="font-family:  'Pretendard-Regular'; color: #232323;"><br>SELENIUM</h4>
                                    <p style="font-family:  'Pretendard-Regular'; font-size:13px">
                                        원티드 사이트에서 채용공고를 데이터를 수집하기 <br>위해 사용되었습니다. </p>
                                </div>
                                <!-- Start Single List -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Single List -->
                                <div class="single-list wow fadeInUp" data-wow-delay=".4s">
                                    <img src="/static/images/django.png" style="width: 70px; height: 70px; ">
                                    <h4 style="font-family:  'Pretendard-Regular'; color: #232323;"><br>DJANGO</h4>
                                    <p style="font-family:  'Pretendard-Regular'; font-size:13px">
                                        원티드 사이트를 목표로, 웹사이트를 구현하기 위해<br>사용되었습니다. </p>
                                </div>
                                <!-- Start Single List -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Single List -->
                                <div class="single-list wow fadeInUp" data-wow-delay=".6s">
                                    <img src="/static/images/scikit_learn.png" style="width: 70px; height: 70px; ">
                                    <h4 style="font-family:  'Pretendard-Regular'; color: #232323;"><br>SCIKIT-LEARN</h4>
                                    <p style="font-family:  'Pretendard-Regular'; font-size:13px">
                                        기존 서비스와 달리, 복지와 연봉 데이터를 <br>포함한 추천서비스를 제작하는 데에 사용되었습니다. </p>
                                </div>
                                <!-- Start Single List -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Single List -->
                                <div class="single-list wow fadeInUp" data-wow-delay=".2s">
                                    <img src="/static/images/gensim.png" style="width: 70px; height: 70px; ">
                                    <h4 style="font-family:  'Pretendard-Regular'; color: #232323;"><br>GENSIM</h4>
                                    <p style="font-family:  'Pretendard-Regular'; font-size:13px">
                                        채용공고와 흡사한 채용공고를 COSINE 유사도로<br> 파악하기 위해 사용되었습니다. </p>
                                </div>
                                <!-- Start Single List -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Single List -->
                                <div class="single-list wow fadeInUp" data-wow-delay=".4s">
                                    <img src="/static/images/pandas.png" style="width: 70px; height: 70px; ">
                                    <h4 style="font-family:  'Pretendard-Regular'; color: #232323;"><br>PANDAS</h4>
                                    <p style="font-family:  'Pretendard-Regular'; font-size:13px">
                                        데이터를 처리하고, 웹사이트 데이터베이스로<br> 활용하기 위해 사용되었습니다. </p>
                                </div>

                                <!-- Start Single List -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Single List -->
                                <div class="single-list wow fadeInUp" data-wow-delay=".6s">
                                    <img src="/static/images/konlpy.png" style="width: 70px; height: 70px; ">
                                    <h4 style="font-family:  'Pretendard-Regular'; color: #232323;"><br>KONLPY</h4>
                                    <p style="font-family:  'Pretendard-Regular'; font-size:13px">
                                        자연어를 통해 한글 데이터를 처리하는 데에<br>사용되었습니다. </p>
                                </div>
                                <!-- Start Single List -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /End Why Choose Area -->



    <!-- Start How Works Area -->
    <section class="how-works section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2 style="font-family: 'KOHIBaeumOTF'; color: #2b2b2b;  font-size: 40px;" class="wow fadeInUp" data-wow-delay=".4s"><br>팀을 소개합니다!</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s" style = "font-size : 15px; font-family:  'Pretendard-Regular'; color: #636363;"><br>아시아경제 & 고용노동부의 실무프로젝트 기반 산업 빅데이터 분석가 양성과정 최종 프로젝트
                        <br>『이직은 wanted』 팀 구성원은 이렇습니다.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <!-- Start Single Work -->
                    <div class="single-work wow fadeInUp" data-wow-delay=".2s">
                        <span> <img src="/static/images/sabeen.png" style="width: 70%; height: 70%; "> </span><br>
                        <h3 style="font-family:  'Pretendard-Regular'; color: #232323;">Jeong-Sabeen</h3>
                        <p style="font-family:  'Pretendard-Regular'; font-size:13px">
                            DB(데이터베이스)연동 및 AI모델 적용을 진행하였습니다. <br>
                            인공지능 모델은 팀 전원이 진행하였습니다. <br>
                        </p><br>
                        <ul class="footer-bottom-links">
                                <div class="footer-bottom">
                                    <li><a href="https://jeongsabeenportfolio.notion.site/Jeong-Sabeen-Portfolio-4390aad5e70f4e99be214cc29f2453b2"> <img src="/static/images/notion_gray.png" style="width: 27px; height: 27px; margin-right:10px;"></a>
                                    <a href="mailto:﻿sabin20030720@gmail.com?cc=user@dammy.net"> <img src="/static/images/mail.png" style="transform: scaleX(-1); width: 25px; height: 25px;"></a></li>
                                </div>
                              </ul>
                    </div>
                    <!-- End Single Work -->
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <!-- Start Single Work -->
                    <div class="single-work wow fadeInUp" data-wow-delay=".4s">
                        <span> <img src="/static/images/crystal.png" style="width: 70%; height: 70%; "> </span><br>
                       <h3 style="font-family:  'Pretendard-Regular'; color: #232323;">Kim-Soojeong</h3>
                        <p style="font-family:  'Pretendard-Regular'; font-size:13px">
                            전반적인 Web Develop 과정과 Javascript를 담당하였습니다. <br>
                            인공지능 모델은 팀 전원이 진행하였습니다. <br>
                        </p>
                        <p style="font-family:  'Pretendard-Regular'; font-size:13px">
                            <br>
                              <ul class="footer-bottom-links">
                                <div class="footer-bottom">
                                    <li><a href="https://fire-verdict-0fb.notion.site/800fff2d202b4001b159e2d1439d00eb"> <img src="/static/images/notion_gray.png" style="width: 27px; height: 27px; margin-right:10px;"></a>
                                    <a href="mailto:﻿silber1201@naver.com?cc=user@dammy.net"> <img src="/static/images/mail.png" style="transform: scaleX(-1); width: 25px; height: 25px;"></a></li>
                                </div>
                              </ul>
                        </p>
                    </div>
                    <!-- End Single Work -->
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <!-- Start Single Work -->
                    <div class="single-work wow fadeInUp" data-wow-delay=".6s">
                        <span> <img src="/static/images/young.png" style="transform: scaleX(-1); width: 70%; height: 70%; "> </span><br>
                        <h3 style="font-family:  'Pretendard-Regular'; color: #232323;">Jo-Youngdae</h3>
                        <p style="font-family:  'Pretendard-Regular'; font-size:13px">
                            백엔드(Back-end)개발 및 QA역할을 담당하였습니다. <br>
                            인공지능 모델은 팀 전원이 진행하였습니다. <br>
                        </p><br>
                        <ul class="footer-bottom-links">
                                <div class="footer-bottom">
                                    <li><a href="https://zerobiig.notion.site/Portfolio-746ce1b345b142b6a09fe8890d8c501a"> <img src="/static/images/notion_gray.png" style="width: 27px; height: 27px; margin-right:10px;"></a>
                                    <a href="mailto:﻿z_big@naver.com?cc=user@dammy.net"> <img src="/static/images/mail.png" style="transform: scaleX(-1); width: 25px; height: 25px;"></a></li>
                                </div>
                              </ul>
                    </div>
                    <!-- End Single Work -->
                </div>
            </div>
        </div>
    </section>
    <!-- End How Works Area -->

<style>
.support {
  font-weight: bold;
  padding: 2em 0 0 0;
  color: #ee2563;
  display: none;
}
</style>

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/tiny-slider.js"></script>
    <script src="/static/js/glightbox.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script type="text/javascript">
        //========= Category Slider
        tns({
            container: '.category-slider',
            items: 3,
            slideBy: 'page',
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            nav: false,
            controls: true,
            controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 2,
                },
                768: {
                    items: 4,
                },
                992: {
                    items: 5,
                },
                1170: {
                    items: 6,
                }
            }
        });

        //========= testimonial
        tns({
            container: '.testimonial-slider',
            items: 3,
            slideBy: 'page',
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            nav: true,
            controls: false,
            controlsText: ['<i class="lni lni-arrow-left"></i>', '<i class="lni lni-arrow-right"></i>'],
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 1,
                },
                768: {
                    items: 2,
                },
                992: {
                    items: 2,
                },
                1170: {
                    items: 2,
                }
            }
        });
    </script>
</body>
{% include "footer.html" %}
</html>