<!DOCTYPE html>
<html class="no-js" lang="en">
{% include "head.html" %}
{% include "header.html" %}

<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

<!--    &lt;!&ndash; Preloader &ndash;&gt;-->
<!--    <div class="preloader">-->
<!--        <div class="preloader-inner">-->
<!--            <div class="preloader-icon">-->
<!--                <span></span>-->
<!--                <span></span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; /End Preloader &ndash;&gt;-->


    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs" style = "background: #2c5bf0;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12" >
                    <div class="breadcrumbs-content">
                        <h1 style = "font-family:  'Pretendard-Regular'; color: #ffffff;" class="page-title">Ad Details</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">

                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->


    <!-- Start Item Details -->
    <section class="item-details section">
        <div class="container">

            <div class="top-area">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-12">

                        <div class="product-images">
                            <main id="gallery">
                                <div class="main-img">
                                    <img src={{ Post.picture_url }} id="current" alt="#">
                                </div>
                            </main>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <ul class="product-info" style = "font-family:  'Pretendard-Regular'; color: #2b2b2b;">
                            <h2 class="title">{{ Post.title }}</h2>
                            <p class="location"><i class="lni lni-map-marker"></i><a href="javascript:void(0)">{{ Post.place }}</a></p>

                            <h3 class="price">{% if Post.money %}
                                                    {{ Post.money }} 만원
                                                {% else %}
                                                    연봉정보 없음
                                                {% endif %}

{#                                        좋아요 #}
                                        {% if Post.id in bookmarked_post_id_list %}
                                        <a class="like">
                                            <a  style="float: right; margin-right: 300px" class="lni-32 lni lni-heart-filled" onclick='sendPost2 (event, {{ Post.id }})' type="button"></a>

                                        </a>
                                    {% else %}
                                        <a class="like">
                                            <a  style="float: right; margin-right: 300px" class="lni lni-heart" onclick='sendPost2 (event, {{ Post.id }})' type="button"></a>
                                        </a>
                                        {% endif %}</h3>




                            <div class="list-info">
                                <h4>Informations</h4>
                                <ul>
                                    <li><span>회사명:</span> {{ Post.company }}</li>
                                    <li><span>평균연봉:</span>{% if Post.money %}
                                                                {{ Post.money }} 만원
                                                            {% else %}
                                                                연봉정보 없음
                                                            {% endif %}
                                    </li>
                                    <li><span>직원수:</span> {{ Post.employee }}</li>
                                </ul>
                            </div>
                            <div class="contact-info">
                                <ul>
                                    <li>
                                       <a href={{ Post.page_url }} class="call">
                                            <i><img src="/static/images/cursor.png" alt="cursor" style="width: 36px; height: 36px;"></i>
                                            원티드로 이동하기
                                            <span>더 자세한 공고보고 지원하기</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            </ul>
                        </div>
                    </div>
                </div>

            <div style = "font-family:  'Pretendard-Regular'; color: #636363;"  class="item-details-blocks">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-12" >
                        <!-- Start Single Block -->
                        <div class="single-block description"  >                                                          <h3>세부사항</h3>
                                <h3 style = "-webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);    -webkit-font-smoothing: antialiased;    box-sizing: border-box;
    padding: 0;   border: 0;    color: #333;    font-size: 16px;    line-height: 1.75;
    margin: 20px 0 0;    font-weight: 600; font-family:  'Pretendard-Regular'; color: #2b2b2b;">주요업무</h3>
                                <pre style = "font-size:15px; font-family:  'Pretendard-Regular'; color: #2b2b2b; ">{{ Post.work }}</pre>
                                <h3 style = "-webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);    -webkit-font-smoothing: antialiased;    box-sizing: border-box;
    padding: 0;   border: 0;    color: #333;    font-size: 16px;    line-height: 1.75;
    margin: 20px 0 0;    font-weight: 600; font-family:  'Pretendard-Regular'; color: #2b2b2b;">자격요건</h3>
                                <pre style = "font-size:15px; font-family:  'Pretendard-Regular'; color: #2b2b2b;">{{ Post.qualification }}</pre>
                                <h3 style = "-webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);    -webkit-font-smoothing: antialiased;    box-sizing: border-box;
    padding: 0;   border: 0;    color: #333;    font-size: 16px;    line-height: 1.75;
    margin: 20px 0 0;    font-weight: 600; font-family:  'Pretendard-Regular'; color: #2b2b2b;">우대사항</h3>
                                <pre style = "font-size:15px; font-family:  'Pretendard-Regular'; color: #2b2b2b;">{{ Post.favor }}</pre>
                                <h3 style = "-webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);    -webkit-font-smoothing: antialiased;    box-sizing: border-box;
    padding: 0;   border: 0;    color: #333;    font-size: 16px;    line-height: 1.75;
    margin: 20px 0 0;    font-weight: 600; font-family:  'Pretendard-Regular'; color: #2b2b2b;">혜택 및 복지</h3>
                                <pre style = "font-size:15px; font-family:  'Pretendard-Regular'; color: #2b2b2b;">{{ Post.welfare }}</pre>
                        </div>
                        <!-- End Single Block -->
                        <!-- Start Single Block -->

                        <!-- End Single Block -->

                        <!-- End Single Block -->

                    </div>




                    <div class="col-lg-4 col-md-5 col-12">
                            <div class="item-details-sidebar">
                            <!-- Start Single Block -->
                            <div class="single-block tags">
                                <h3>기술스택</h3>
                                <tbody>
                                {% for skill in post.skill_stack %}
                                <tr>
                                    <li>
                                        <a href="javascript:void(0)">{{ skill }}</a>
                                    </li>
                                </tr>
                                {% endfor %}
                                <tbody>

                                <ul>
                                    {% for skill_stack_ in skills %}
                                    <li><a href="javascript:void(10)">{{ skill_stack_ }}</a></li>
{#                                <li><a href="javascript:void(0)">Services</a></li>#}
{#                                <li><a href="javascript:void(0)">Brand</a></li>#}

                                    {% endfor %}
                            </ul>
                        </div>
                        </div>
                        <div class="item-details-sidebar">
                            <!-- Start Single Block -->
                            <div class="single-block ">
                                <h3>위치</h3>
                            <h6><dd>{{ Post.company }}</dd></h6>
                             <h8><dd>주소 : {{ Post.place }}</dd></h8>
                                <div class="mapouter">
                                        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1e9cc86ceaac63df85f40ba8985961a7&libraries=services"></script>
                                        <div class="mapouter">
                                            <div id="map" style="width:100%;height:300px;"></div>
                                            <script>
                                                var mapContainer = document.getElementById('map'),
                                                    mapOption = {center: new kakao.maps.LatLng(37.585492 , 126.9759223),
                                                        level: 4
                                                };
                                                var map = new kakao.maps.Map(mapContainer, mapOption);
                                                var geocoder = new kakao.maps.services.Geocoder();
                                                geocoder.addressSearch('{{Post.place}}' , function(result, status)
                                                        { if (status === kakao.maps.services.Status.OK) {
                                                            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                                                            var marker = new kakao.maps.Marker({
                                                                map: map,
                                                                position: coords
                                                            });
                                                            var infowindow = new kakao.maps.InfoWindow({
                                                                content: '<div style="width:150px;text-align:center;padding:3px 0;">{{ Post.company }}</div>'
                                                            });
                                                            infowindow.open(map, marker);
                                                            map.setCenter(coords);    }
                                                        }  );
                                            </script>
                                        <style>
                                            .mapouter {
                                                position: relative;
                                                text-align: right;
                                                height: 300px;
                                                width: 100%;
                                            }
                                        </style>
                                        <style>
                                            .gmap_canvas {
                                                overflow: hidden;
                                                background: none !important;
                                                height: 300px;
                                                width: 100%;
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Block -->
                        </div>
                    </div>
                </div>
            </div>


    <!-- End Item Details -->
                <section class="item-details section">

                        <div class="top-area">
                            <h4>이 회사도 추천드립니다</h4>
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="row">

            {% if data_lst %}
                {% for data in data_lst %}

    <div class="col-lg-4 col-md-6 col-12">
        <div class="single-item-grid">
            <div class="image">

                        <a href="http://127.0.0.1:8000/item-details/{{ data.pk }}"><img src={{ data.picture_url }} width="100" height="300" alt="#"></a>
                        <span style = "font-family:  'Pretendard-Regular';" class="flat-badge sale">구인 중</span>
                    </div>
                    <div class="content">
                        <a href="javascript:void(0)" class="tag">{{ data.category }}</a>
                        <h3 class="title">
                            <a href="http://127.0.0.1:8000/item-details/{{ data.pk }}">{{ data.title }}</a>
                        </h3>
                        <p class="location" style = "font-family: 'Pretendard-Regular'; font-size:12px; "><a href="javascript:void(0)"><i class="lni lni-map-marker">
                                </i>{{ data.company}}</a></p>
                        <ul class="info">
                            <li class="price">{% if data.money %}
                                                    {{ data.money }} 만원
                                                {% else %}
                                                    연봉정보 없음
                                                {% endif %}</li>
                            {% if data.pk in bookmarked_post_id_list %}
                                <li class="like"><a onclick='sendPost (event, {{ data.pk }})' type="button" class="lni lni-heart-filled">
                                        </i></a>
                            {% else %}
                                <li class="like"><a onclick='sendPost (event, {{ data.pk }})' type="button" class="lni lni-heart">
                                            </i></a>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                </div>
                {% endfor %}
            {% else %}
                <tr>
                    <td>작성된 게시글이 없습니다.</td>
                </tr>
            {% endif %}
            <!-- End Single Item -->
            </div>

                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/tiny-slider.js"></script>
    <script src="/static/js/glightbox.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script type="text/javascript">
        const current = document.getElementById("current");
        const opacity = 0.6;
        const imgs = document.querySelectorAll(".img");
        imgs.forEach(img => {
            img.addEventListener("click", (e) => {
                //reset opacity
                imgs.forEach(img => {
                    img.style.opacity = 1;
                });
                current.src = e.target.src;
                //adding class 
                //current.classList.add("fade-in");
                //opacity
                e.target.style.opacity = opacity;
            });
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function uuidv4() {
          return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
          });
        }

        let device = getCookie('device')

        if (device == null || device == undefined){
            device = uuidv4()
        }

        document.cookie ='device=' + device + ";domain=;path=/"

        function sendPost(e, pk) {
            // 좋아요 버튼이 빈하트이면 on 아니면 off
            const like = e.target.classList.contains('lni-heart')? 'on': 'off';

            // 좋아요 등록, 취소 처리 api 호출
            fetch('/likeSwitch', {
                method: 'post',
                body: JSON.stringify({'pk': pk, 'like': like}),
                headers: {
                  'Content-Type': 'application/json',
                  // 'Content-Type': 'application/x-www-form-urlencoded',
                },
            }).then(res => res.json()).then(json => {
                if(json.code == 'success') {
                    if(like == 'on') {
                        // 좋아요 등록 처리일 경우 빈하트 -> 하트로 변경
                        e.target.classList.remove('lni-heart');
                        e.target.classList.add('lni-heart-filled');
                    } else if(like == 'off') {
                        // 좋아요 취소 처리일 경우 하트 -> 빈하트로 변경
                        e.target.classList.remove('lni-heart-filled');
                        e.target.classList.add('lni-heart');
                    }
                }
            })
        }

        function sendPost2(e, pk) {
            // 좋아요 버튼이 빈하트이면 on 아니면 off
            const like = e.target.classList.contains('lni-heart')? 'on': 'off';

            // 좋아요 등록, 취소 처리 api 호출
            fetch('/likeSwitch', {
                method: 'post',
                body: JSON.stringify({'pk': pk, 'like': like}),
                headers: {
                  'Content-Type': 'application/json',
                  // 'Content-Type': 'application/x-www-form-urlencoded',
                },
            }).then(res => res.json()).then(json => {
                if(json.code == 'success') {
                    if(like == 'on') {
                        // 좋아요 등록 처리일 경우 빈하트 -> 하트로 변경
                        e.target.classList.remove('lni-heart');
                        e.target.classList.add('lni-heart-filled');
                    } else if(like == 'off') {
                        // 좋아요 취소 처리일 경우 하트 -> 빈하트로 변경
                        e.target.classList.remove('lni-heart-filled');
                        e.target.classList.add('lni-heart');
                    }
                }
            })
        }
    </script>


</body>
{% include "footer.html" %}
</html>

