<!DOCTYPE html>
<html class="no-js" lang="en">
{% include "head.html" %}
{% include "header.html" %}

<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

<!--    &lt;!&ndash; Preloader &ndash;&gt;-->
<!--    <div class="preloader">-->
<!--        <div class="preloader-inner">-->
<!--            <div class="preloader-icon">-->
<!--                <span></span>-->
<!--                <span></span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; /End Preloader &ndash;&gt;-->


    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs" style = "background: #2c5bf0;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12" >
                    <div class="breadcrumbs-content">
                        <h1 style = "font-family:  'Pretendard-Regular'; color: #ffffff;" class="page-title">Ad Details</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">

                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->


    <!-- Start Item Details -->
    <section class="item-details section">
        <div class="container">
            <div class="top-area">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-images">
                            <main id="gallery">
                                <div class="main-img">
                                    <img src={{ Post.picture_url }} id="current" alt="#">
                                </div>
                            </main>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-info" style = "font-family:  'Pretendard-Regular'; color: #2b2b2b;">
                            <h2 class="title">{{ Post.title }}</h2>
                            <p class="location"><i class="lni lni-map-marker"></i><a href="javascript:void(0)">Seoul, Korea</a></p>
                            <h3 class="price">{% if Post.money %}
                                                    {{ Post.money }} 만원
                                                {% else %}
                                                    연봉정보 없음
                                                {% endif %}</h3>
                            <div class="list-info">
                                <h4>Informations</h4>
                                <ul>
                                    <li><span>회사명:</span> {{ Post.company }}</li>
                                    <li><span>평균연봉:</span>{% if Post.money %}
                                                                {{ Post.money }} 만원
                                                            {% else %}
                                                                연봉정보 없음
                                                            {% endif %}
                                    </li>
                                    <li><span>직원수:</span> {{ Post.employee }}</li>
                                </ul>
                            </div>
                            <div class="contact-info">
                                <ul>
                                    <li>
                                       <a href={{ Post.page_url }} class="call">
                                            <i><img src="/static/images/cursor.png" alt="cursor" style="width: 36px; height: 36px;"></i>
                                            원티드로 이동하기
                                            <span>더 자세한 공고보고 지원하기</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:example@gmail.com" class="mail">
                                            <i><img src="/static/images/book.png" alt="book" style="width: 36px; height: 36px;"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div style = "font-family:  'Pretendard-Regular'; color: #636363;"  class="item-details-blocks">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-12">
                        <!-- Start Single Block -->
                        <div class="single-block description">
                            <h3 style = "-webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);    -webkit-font-smoothing: antialiased;    box-sizing: border-box;
    padding: 0;   border: 0;    color: #333;    font-size: 16px;    line-height: 1.75;
    margin: 20px 0 0;    font-weight: 600; font-family:  'Pretendard-Regular'; color: #2b2b2b;">주요업무</h3>
                            <pre style = "font-size:15px; font-family:  'Pretendard-Regular'; color: #2b2b2b;">{{ Post.work }}</pre>
                            <ul>
                                <h3 style = "-webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);    -webkit-font-smoothing: antialiased;    box-sizing: border-box;
    padding: 0;   border: 0;    color: #333;    font-size: 16px;    line-height: 1.75;
    margin: 20px 0 0;    font-weight: 600; font-family:  'Pretendard-Regular'; color: #2b2b2b;">자격요건</h3>
                                <pre style = "font-size:15px; font-family:  'Pretendard-Regular'; color: #2b2b2b;">{{ Post.qualification }}</pre>
                                <h3 style = "-webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);    -webkit-font-smoothing: antialiased;    box-sizing: border-box;
    padding: 0;   border: 0;    color: #333;    font-size: 16px;    line-height: 1.75;
    margin: 20px 0 0;    font-weight: 600; font-family:  'Pretendard-Regular'; color: #2b2b2b;">우대사항</h3>
                                <pre style = "font-size:15px; font-family:  'Pretendard-Regular'; color: #2b2b2b;">{{ Post.favor }}</pre>
                                <h3 style = "-webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);    -webkit-font-smoothing: antialiased;    box-sizing: border-box;
    padding: 0;   border: 0;    color: #333;    font-size: 16px;    line-height: 1.75;
    margin: 20px 0 0;    font-weight: 600; font-family:  'Pretendard-Regular'; color: #2b2b2b;">혜택 및 복지</h3>
                                <pre style = "font-size:15px; font-family:  'Pretendard-Regular'; color: #2b2b2b;">{{ Post.welfare }}</pre>
                            </ul>

                        </div>
                        <!-- End Single Block -->
                        <!-- Start Single Block -->
                        <div class="single-block tags">
                            <h3>Tags</h3>
                            <ul>
                                <li><a href="javascript:void(0)">Bike</a></li>
                                <li><a href="javascript:void(0)">Services</a></li>
                                <li><a href="javascript:void(0)">Brand</a></li>
                                <li><a href="javascript:void(0)">Popular</a></li>
                            </ul>
                        </div>
                        <!-- End Single Block -->

                        <!-- End Single Block -->

                    </div>
                    <div class="col-lg-4 col-md-5 col-12">
                        <div class="item-details-sidebar">


                            <!-- Start Single Block -->
                            <div class="mapouter">
                                <div id="map" style="width:100%;height:300px;"></div>
                                <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1e9cc86ceaac63df85f40ba8985961a7&libraries=services"></script>
                                <div class="mapouter">
                                    <div id="map" style="width:100%;height:300px;"></div>
                                    <script>
                                        var mapContainer = document.getElementById('map'),
                                            mapOption = {center: new kakao.maps.LatLng(37.572480297, 126.97677606),
                                                level: 5
                                        };
                                        var map = new kakao.maps.Map(mapContainer, mapOption);
                                        var geocoder = new kakao.maps.services.Geocoder();
                                        geocoder.addressSearch('{{Post.place}}' , function(result, status)
                                                { if (status === kakao.maps.services.Status.OK) {
                                                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                                                    var marker = new kakao.maps.Marker({
                                                        map: map,
                                                        position: coords
                                                    });
                                                    var infowindow = new kakao.maps.InfoWindow({
                                                        content: '<div style="width:150px;text-align:center;padding:3px 0;">{{ Post.company }}</div>'
                                                    });
                                                    infowindow.open(map, marker);
                                                    map.setCenter(coords);    }
                                                }  );
                                </script>
                                    <style>
                                        .mapouter {
                                            position: relative;
                                            text-align: right;
                                            height: 300px;
                                            width: 100%;
                                        }
                                    </style><a href="https://www.embedgooglemap.net">google map code for website</a>
                                    <style>
                                        .gmap_canvas {
                                            overflow: hidden;
                                            background: none !important;
                                            height: 300px;
                                            width: 100%;
                                        }
                                    </style>
                                </div>
                            </div>
                            <!-- End Single Block -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Item Details -->


    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/tiny-slider.js"></script>
    <script src="/static/js/glightbox.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script type="text/javascript">
        const current = document.getElementById("current");
        const opacity = 0.6;
        const imgs = document.querySelectorAll(".img");
        imgs.forEach(img => {
            img.addEventListener("click", (e) => {
                //reset opacity
                imgs.forEach(img => {
                    img.style.opacity = 1;
                });
                current.src = e.target.src;
                //adding class 
                //current.classList.add("fade-in");
                //opacity
                e.target.style.opacity = opacity;
            });
        });
    </script>
</body>
{% include "footer.html" %}
</html>
