
	<div class="container">
<style> button    {-webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(255,50,0,0);
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
    box-sizing: border-box;
    font: inherit;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    font-family: inherit;
    margin: 0;
    height: 32px;
    margin-right: 10px;
    margin-bottom: 12px;
    border: 1px solid #f2f4f7;
    background: #f2f4f7;
    border-radius: 20px;
    padding: 8px 14px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #333;}</style>
<div class="row">
    <button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">웹 개발자</button>
    <button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">서버 개발자</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">프론트엔드 개발자</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">소프트웨어 엔지니어</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">자바 개발자</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">안드로이드 개발자</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">iOS 개발자</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">Node.js 개발자</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">데이터 엔지니어</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">DevOps / 시스템 관리자</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">C,C++ 개발자</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">파이썬 개발자</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">시스템,네트워크 관리자</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">머신러닝 엔지니어</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">데이터 사이언티스트</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">빅데이터 엔지니어</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">개발 매니저</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">QA,테스트 엔지니어</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">기술지원</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">보안 엔지니어</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">프로덕트 매니저</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">블록체인 플랫폼 엔지니어</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">PHP 개발자</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">임베디드 개발자</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">웹 퍼블리셔</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">하드웨어 엔지니어</button>
    <button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">크로스플랫폼 앱 개발자</button>
    <button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">영상,음성 엔지니어</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">그래픽스 엔지니어</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">CTO,Chief Technology Officer</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">VR 엔지니어</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">BI 엔지니어</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">ERP전문가</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">루비온레일즈 개발자</button>
	<button type="button" class="JobCategoryItem_JobCategoryItem__oUaZr">CIO,Chief Information Officer</button>


</div>
	</div>


