<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
{% include "header.html" %}


<body>

  <main id="main" style = "margin-top: '0px;">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <br>
          <br>
          <h2 style = "font-family: 'HallymGothic-Bold';">북마크만 등록해도 나에게 딱 맞는 회사 추천!</h2>
          <h6 style = "font-family: 'Pretendard-Regular'; color:#6f6f6f; line-height:1.6em; font-size: 13px;">내 북마크를 분석하여 나와 딱 맞는 회사를 추천해드려요.<br>
          북마크 공고의 주요업무, 복지, 연봉을 기반으로 책정되었습니다.</h6>
          <br>
          <a href="http://127.0.0.1:8000/mainapp/services">
          <h6 style = "font-family: 'Pretendard-Bold'; color:#2c5bf0; line-height:1.6em; font-size: 13px;">더 세밀한 추천을 받아보고 싶다면 내 북마크를 다시 설정해보세요!
          </h6>
          </a>
        </div>



      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>

</body>
{% include "footer.html" %}
</html>